# On-chain contracts (Ethereum mainnet)
VITE_SATA_ADDRESS=0x3ebb4A4e91Ad83BE51F8d596533818b246F4bEe1
VITE_DSATA_ADDRESS=0x49428f057dd9d20a8e4c6873e98afd8cd7146e3b
VITE_EXCHANGER_ADDRESS=0xB321feAa9018C20e94a5c4F3bf44EADEbfCF7E6C
VITE_GOVERNOR_ADDRESS=0x3D3255D21654B9a8325DfE6353ac6B37352Eb80B

# DAO proposals come from this GitHub repo
VITE_DAO_GH_OWNER=congruentlabs
VITE_DAO_GH_REPO=signata-dao
