# dependencies
node_modules
.pnp
.pnp.js

# build output
dist
build

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.local
.env.*.local

# editors / OS
.DS_Store
.vscode
.idea

# tooling
.firebase/
.wrangler/
.eslintcache
coverage
